.bodyLogin {
    background-color: rgb(6, 6, 6);
    

}



.formContainer {
background: url(photos/pizzaConn.jpg);
border-radius: 30px;
background-size: cover; 
font-size:1.5rem; 
margin-top: 12rem;
background-position: right;
height:70vh; 

}

.errorMsg {
    color:red;
    font-size: large;
    text-align: center;
    letter-spacing: 5px;
}


.firstSide {
    text-align:center;
     font-size:2rem;
     color: aliceblue;
     padding: 1%;
}

.secondSide {
    text-align:center; 
    font-size:2rem;
     color: aliceblue;
     padding: 1%;
}
.sizeSvg {
    width: 35px;
    height: 35px;
}
.labelLogin {
    margin-bottom: 2.5%;

}
.inputLogin {
    font-size:1.5rem;
    width: 60%;
    text-align: center;
    margin: auto;
}
.buttonLogin{
    margin : auto;
    margin-left: 20%;
}
.buttonLoginNewAdmin {
    margin : auto;
    margin-left: 40%;
    background-color: rgb(4, 4, 5);
}

@media only screen and (max-width: 425px){
    .buttonLogin {
        
        margin-left: 30%;
     }
}  