body {
    background-color: beige
}

.titreMenu {
    margin-top:22rem; 
    text-align: center;
    font-size: 2rem;
}
.menu {
    height: 100%;
}
.middle {
    margin-left: 41%;
}

.paragraphMenu {
    font-size:1.5rem; 
    color:red;
}